In [1]:
import pandas as pd
sleep = pd.read_csv('Baby1_sleep.csv',parse_dates=[1])
sleep.head()

    Baby                Time  Duration(minutes)  Note
0  Baby1 2018-08-01 00:38:00                 92   NaN
1  Baby1 2018-08-01 03:11:00                108   NaN
2  Baby1 2018-08-01 05:44:00                131   NaN
3  Baby1 2018-08-01 09:05:00                 83   NaN
4  Baby1 2018-08-01 11:16:00                109   NaN

In [2]:
diaper = pd.read_csv('Baby1_diaper.csv',parse_dates=[1])
diaper.head()

   Baby                Time Status  Note
0  Bab1 2018-08-01 02:22:00  Mixed   NaN
1  Bab1 2018-08-01 05:11:00  Mixed   NaN
2  Bab1 2018-08-01 08:05:00  Mixed   NaN
3  Bab1 2018-08-01 10:40:00  Mixed   NaN
4  Bab1 2018-08-01 13:25:00  Mixed   NaN